<p id="notice"><%= notice %></p>

<h1>Snowballs</h1>

<% @snowballs.each do |snowball| %>
  <ul>
    <li><%= link_to "#{snowball.id} - #{snowball.name}", snowball %></li>
  </ul>
<% end %>

<br>

<%= link_to 'New Snowball', new_snowball_path %>
